version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.sbt" }}
            - v1-dependencies-
      - run: cat /dev/null | sbt test:compile

      - save_cache:
          paths:
            - ~/.ivy2
          key: v1-dependencies--{{ checksum "build.sbt" }}

      - run: sbt coverage test:test coverageReport
      - store_test_results:
          path: target
      - codecov/upload:
          file: target/scala-2.12/coverage-report/cobertura.xml
  deploy:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.sbt" }}
            - v1-dependencies-
      - run: |
          mkdir -p .gnupg
          echo $GPG_SEC | base64 --decode > .gnupg/secring.asc
          echo $GPG_PUB | base64 --decode > .gnupg/pubring.asc
          sbt releaseEarly
workflows:
  version: 2
  build:
    jobs:
      - build
  release:
    jobs:
      - build:
          filters:
            tags:
              only: /^v[0-9.]+.*/
            branches:
              ignore: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v[0-9.]+.*/
            branches:
              ignore: /.*/
